<div class="container aboutme">
	<div class="cate-wraper post">
		<h2>
		  <%- partial("../_partial/post/rss.ejs") %>
			<a href="/" tabindex="0" aria-label="回到小胡子哥首页导航"><%- config.author %></a> <font aria-hidden="true">» 关于</font>
			<%- partial("../_partial/dropdown") %>
		</h2>
		<div>
			<strong class="title">关于我<span> <font aria-hidden="true" tabindex="0">/ About Me</font></span></strong>
			<div>
				<a class="site-avatar" href="<%- url_for(theme.imgs.avatar) %>"><img src="<%- url_for(theme.imgs.avatar150) %>" height="100" width="100" alt="<%- config.author %>"></a>
				<p>My name is Lee Jing(李靖). You can call me Barret. I was born in 1992.</p>
				<p>I am a Bachelor of Engineering, graduated from HuaZhong University Of Science and Technology, and now am employed by Alibaba in HangZhou.</p>
				<p>Life is colorful, this website was, is and will be the window which used to present the color of my life.</p>
				<p>I like programming, reading book, surfing internet, traveling, and I love making friends very much. </p>
			</div>
			<strong class="title">关于内容<span> <font aria-hidden="true" tabindex="0">/ About The Website</font></span></strong>
			<div>
				<p>版权声明: 「署名-非商业性使用-禁止演绎 3.0 国际」（<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh" target="_blank">CC BY-NC-ND 3.0</a>）</p>
				<p>所有文章非特别说明皆为原创。技术更迭迅猛，部分内容可能会作修改，为保证信息与源同步，转载时请务必注明文章出处！谢谢合作 :-) </p>
				<p>文章皆为个人观点，不代表所服务的公司。</p>
			</div>
			<strong class="title">订阅地址<span> <font aria-hidden="true" tabindex="0">/ The RSS Address</font></span></strong>
			<div>
				<p>本网站 RSS 订阅地址： <a href="<%- config.url %><%- url_for(theme.pages.feed) %>"><%- config.url %><%- url_for(theme.pages.feed) %></a></p>
				<p>博客源码：<a href="https://github.com/barretlee/blog" target="_blank">https://github.com/barretlee/blog</a>，本站由 <a href="http://pages.coding.me" target="_blank">Coding</a> & <a href="https://pages.github.com/" target="_blank">Github</a> 强力驱动。<!--同时感谢 <a href="http://blog.smalldragonluo.com" target="_blank">龙喜</a> 同学提供服务器资源。--></p>
			</div>
			<!-- <strong class="title">关于主题<span> <font aria-hidden="true" tabindex="0">/ About The Theme</font></span></strong>
			<div>
				<p>本站基于 <a href="https://hexo.io">Hexo</a> 构建，博客主题是自己瞎捣鼓的，脑袋中跟设计的细胞并不多，博客的设计也比较简单。</p>
				<p aria-hidden="true" tabindex="0">为本站的设计取了名字: <code>hexo-theme-moustache</code>，哈哈，<code>moustache(n. 小胡子；髭；触须)</code>，你懂的~ (主题暂未发布，就不献丑了.)</p>
			</div> -->
			<strong class="title" name="contact" id="contact">社交信息<span> <font aria-hidden="true" tabindex="0">/ Social Links</font></span></strong>
			<div>
				<ul>
					<li>Github：
						<a href="<%- theme.social.github %>" target="_blank">@barretlee</a>
					</li>
					<li>Social：
						<a href="<%- theme.social.weibo %>" target="_blank">新浪微博</a> <span class="grey" aria-hidden="true" tabindex="0">|</span>
						<a href="<%- theme.social.twitter %>" target="_blank">Twitter</a> <span class="grey" aria-hidden="true" tabindex="0">|</span>
						<a href="<%- theme.social.zhihu %>" target="_blank">知乎</a> <span class="grey" aria-hidden="true" tabindex="0">|</span>
						<a href="<%- theme.social.google %>" target="_blank">G+</a>
					</li>
					<li>E-mail：
						<a href="mailto:<%- theme.social.mail %>" target="_blank">barret.china(at)gmail.com</a>
					</li>
					<li>Old Blog：
						<a href="<%- theme.social.cnblog %>" target="_blank">Here</a> <span class="grey">- 博客园「推荐博客」</span>
					</li>
					<!-- <li>About：
						<a href="<%- theme.social.about %>" target="_blank">More about me</a>
					</li> -->
					<li>微信公众号：<span>@barretlee_com</span>
						<!-- <p><img class="about-wechart" src="/follow.jpg" alt="扫码关注微信公众号" width="200" /></p> -->
					</li>
				</ul>
			</div>
      <!--
			<strong class="title" name="support" id="support">支持本站<span> <font aria-hidden="true" tabindex="0">/ Support Me</font></span></strong>
			<div>
				<p>如果本站内容曾经触动或帮助到了你，那不妨打赏喝杯咖啡吧 ；）</p>
				<p class="pay">
					<span class="alipay">
						<img src="/ali-pay.jpg" alt="支付宝扫码，帐号：barret.china@gmail.com">
						<i>(支付宝扫码)</i>
					</span>
					<span class="wechatpay">
						<img src="/wechat-pay.jpg" alt="微信扫码，帐号：barret_china">
						<i>(微信扫码)</i>
						<b>(长按二维码)</b>
					</span>
				</p>
				<p>如果你也想搞一台 linode 服务器，可以使用我这个 <a target="_blank" href="https://www.linode.com/?r=69a0ed6f8e2c517588995a35654384774d49bc07">邀请码</a> 来注册，你我都会得到一些优惠。你的优惠就是免费使用 linode 90 天，也不用像我这么折腾，刚开始还得<a target="_blank" href="http://www.barretlee.com/blog/2016/08/02/before-purchase-linode/">折腾美刀</a>的事情。</p>
				<p>坚持写作不易，感谢你的支持！</p>
			</div>
    -->
		</div>
		<div class="aboutme-modify-time text-info" tabindex="0" aria-hidden="true">
			最后修改时间：<%- moment(page.updated).format("YYYY年MM月DD日 HH:mm:ss") %>
		</div>
		<span class="aria-readonly">最后修改时间：<%- moment(page.updated).format("YYYY年MM月DD日 hh时mm分ss秒") %></span>
		<%- partial("page_footer") %>
	</div>
</div>
<%- partial("../_partial/sidebar") %>
