<div class="container message">
	<div class="cate-wraper post">
		<h2>
      <%- partial("../_partial/post/rss.ejs") %>
			<a href="/" tabindex="0" aria-label="回到小胡子哥首页导航"><%- config.author %></a> <font aria-hidden="true">» 最新评论</font>
			<%- partial("../_partial/dropdown") %>
		</h2>
		<%- partial("page_footer") %>
	</div>
</div>
<%- partial("../_partial/sidebar") %>