<div class="container message demos">
	<div class="cate-wraper post">
		<h2 class="demos-header">
			<%- partial("../_partial/post/rss.ejs") %>
			<a href="/" tabindex="0" aria-label="回到小胡子哥首页导航"><%- config.author %></a> <font aria-hidden="true">» 实验室</font>
			 <em  class="arrow-expend" tabindex="0" aria-hidden="0" aria-label="点击展开网页导航" aria-selected="true" aria-lable="网页导航" aria-expanded="false" id="i1">▾
				<ul role="group" aria-labelledby="i1" aria-expanded="false">
          <li><a href="<%- url_for("/entry/") %>">博客</a></li>
          <li><a href="<%- url_for("/message/") %>">问答</a></li>
          <li><a href="<%- url_for("/about/") %>">关于</a></li>
          <li><a href="<%- url_for("/friends/") %>">友情链接</a></li>
					<li><a href="<%- url_for("/comments/") %>">最近评论</a></li>
        </ul>
      </em>
		</h2>
		<div class="toggle-box">
			<a href="http://demo.barretlee.com" target="_blank"><h2><font aria-hidden="true">»</font> 实验室 <span style="display: inline;">(demo.barretlee.com)</span></h2></a>
		</div>
		<div class="toggle-box">
			<a href="http://snippets.barretlee.com" target="_blank"><h2><font aria-hidden="true">»</font> Snippet <span style="display: inline;">(snippets.barretlee.com)</span></h2></a>
		</div>
		<div class="toggle-box">
			<h2><font aria-hidden="true">»</font> 技术文档 <span style="display:none;">(+)</span></h2>
			<ul data-name="st">
				<% var st = site.data.text.st;
				Object.keys(st).forEach(function(item){
					   var path = st[item];
				%>
				<li itemscope itemtype="http://schema.org/Article">
					<h3><a href="<%- path %>" itemprop="url" target="_blank"><%- item %></a></h3>
				</li>
				<% }) %>
			</ul>
		</div>
		<div class="toggle-box">
			<h2><font aria-hidden="true">»</font> 工具列表 <span style="display:none;">(+)</span></h2>
			<ul data-name="tools">
				<% var tools = site.data.text.tools;
				Object.keys(tools).forEach(function(item){
					   var path = tools[item];
				%>
				<li itemscope itemtype="http://schema.org/Article">
					<h3><a href="<%- path %>" itemprop="url" target="_blank"><%- item %></a></h3>
				</li>
				<% }) %>
			</ul>
		</div>
	</div>
	<div style="padding: 0 20px;">
	<%- partial("page_footer") %>
	</div>
</div>
<%- partial("../_partial/sidebar") %>
<script>
window.onload = function() {
	$(".toggle-box h2").on("click", function(){
		if($(this).next()) {
			$(this).next().slideToggle(300);
			if($(this).parent().find("ul,.demo-detail").size()) {
				$(this).children("span").toggle();
			}
		}
	});
	function changeURL(){
		var hash = window.location.hash;
		if(hash && (hash = hash.slice(1))) {
			$("ul[data-name='" + hash + "']").slideDown();
		}
	}
	$(window).on("hashchange", function(){
		changeURL();
	}).trigger("hashchange");
};
</script>
