<div class="entry-wrapper clearfix">

	<h1 class="clearfix">
		<a href="/" tabindex="0" aria-label="回到小胡子哥首页导航"><%- config.author %></a> <font aria-hidden="true">» 博客</font>
		<%- partial("../_partial/dropdown") %>
		<%- partial("../_partial/post/rss.ejs") %>
		<span class="entry-page-search local-search-google local-search" style="display: none;">
        <input type="text" placeholder="站内搜索" id="local-search-input">
        <i class="icon" aria-hidden="true" title="点击进入 Google 搜索">&#x2708;</i>
				<div id="local-search-result" class="local-search-result-cls"></div>
    </span>
	</h1>
	<div class="clearfix response-overflow">
	<div class="rightbar">
		<div class="entry-cates" aria-hidden="true">
			<h2>文章分类</h2>
			<ul>
				<% var _cates = {}; var cates = [];
				for(var key in site.categories.data) {
					var name = site.categories.data[key].name;
					if(!_cates[name]) {
						_cates[name] = 1;
					}
				}
			  cates = Object.keys(_cates);
				%>
				<% cates.slice(0, 10).forEach(function(cate){
					var url = url_for('/blog/categories/' + cate + "/");
				%>
				<li><a href='<%- url %>'><%- cate %></a></li>
				<% }) %>
				<% if(cates.length > 10) {%>
				<li><a href="<%- url_for("/blog/categories/JavaScript/") %>">更多分类 » </a></li>
				<% } %>
			</ul>
		</div>
		<div class="rightbar-frame" aria-hidden="true"></div>
	</div>
		<% var recentPost = site.posts.sort('date', 'desc').data[1];
		var rTitle = recentPost.title;
		var excerpt = recentPost.excerpt.replace(/<[^>]+?>|\n/gm, '') || recentPost.content.replace(/<[^>]+?>|\n/gm, '').slice(0, 100) + "...";
		var m = recentPost.content.match(/<img src="[^"]+?"[\s\S]+?data-original="([^"]+?)"/);
		if (!m) {
			m = recentPost.content.match(/<img src="([^"]+?)"/);
		}
		var img = m && m.length == 2 ? m[1] : '';
		%>
		<div class="entry-recent-post clearfix" itemscope itemtype="http://schema.org/Article" aria-hidden="true">
			<% if(img){ %><a href="<%- url_for(recentPost.path) %>" class="entry-thumb"><img src="<%- img %>" onerror="this.style.display='none';"></a><% } %>
			<h3 itemprop="name"><a href="<%- url_for(recentPost.path) %>" itemprop="url"><%= rTitle  %></a></h3>
			<p itemprop="description">
				<%= excerpt %>
				<a href="<%- url_for(recentPost.path) %>">阅读全文 <font aria-hidden="true">»</font></a>
			</p>
			<span>
				Posted by
				<a href="<%- url_for('about/') %>"><%- theme.author %></a>
				at <a href="<%- url_for('/blog/categories/' + recentPost.category + "/") %>"><%- partial("../_partial/post/category", {post: recentPost}) %></a>
				on <time><%- moment(recentPost.date).format("YYYY-MM-DD") %></time>
				<a href="<%- url_for(recentPost.path) %>#comments">
					<b class="ds-thread-count disqus-comment-count cy_cmt_count"
						data-thread-key="<%- recentPost.slug || recentPost.path %>"
						data-disqus-identifier="<%- recentPost.slug || recentPost.path %>"
						id="sourceId::<%- recentPost.slug || recentPost.path %>"
						></b>
				</a>
			</span>
		</div>
		<div class="entry-recent-posts">
			<h2><a href="<%- url_for('/blog/archives/') %>" aria-hidden="true">博客归档 »</a>近期文章</h2>
			<ul itemscope itemtype="http://schema.org/Article">
			<% site.posts.sort('date', 'desc').limit(12).each(function(post){ 
				var _tags = {}; var tags = [];
				for(var key in post.tags.data) {
					var name = post.tags.data[key].name;
					if(!_tags[name]) {
						_tags[name] = 1;
					}
				}
				tags = Object.keys(_tags);
				var isTanslation = tags.indexOf('译文') > -1;
				%>
				<li><span itemprop="timeCreated" aria-hidden="true"><%- moment(post.date).format("YYYY-MM-DD") %> » </span><a href="<%- url_for(post.path) %>" itemprop="url" itemprop="name"><% if(isTanslation) { %>[译] <% } %><%- post.title %>
					<% if(0 && post.mark) { %>
						<em tabindex="0" aria-hidden="true" class="entry-item-tag"><%- post.mark %></em>
					<% } %>
				</a><span tabindex="0" class="aria-readonly">发布时间为<%- moment(post.date).format("YYYY年MM月DD日") %></span> <span><b
								class="ds-thread-count disqus-comment-count cy_cmt_count"
								data-thread-key="<%- post.slug || post.path %>"
								data-disqus-identifier="<%- post.slug || post.path %>"
              	id="sourceId::<%- post.slug || post.path %>"
								></b></span></li>
			<% }) %>
			<% if(site.posts.length > 125) {%>
				<li><a href="<%- url_for("/blog/archives/") %>">所有文章 » </a></li>
			<% } %>
			</ul>
		</div>
	</div>
	<%- partial("page_footer") %>
</div>
