<div class="container message recruitment">
  <div class="cate-wraper post">
    <h2>
      <%- partial("../_partial/post/rss.ejs") %>
      <a href="/" tabindex="0" aria-label="回到小胡子哥首页导航"><%- config.author %></a> <font aria-hidden="true">» 淘宝技术部前端团队社招内推</font>
       <em  class="arrow-expend" tabindex="0" aria-hidden="0" aria-label="点击展开网页导航" aria-selected="true" aria-lable="网页导航" aria-expanded="false" id="i1">▾
        <ul role="group" aria-labelledby="i1" aria-expanded="false">
          <li><a href="<%- url_for("/entry/") %>">博客</a></li>
          <li><a href="<%- url_for("/about/") %>">关于</a></li>
          <li><a href="<%- url_for("/demo/") %>">实验室</a></li>
        <li><a href="<%- url_for("/comments/") %>">最近评论</a></li>
          <li><a href="<%- url_for("/friends/") %>">友情链接</a></li>
        </ul>
      </em>
    </h2>
    <script>
      $(function(){
        var $c = $(".close");
        $c && $c.trigger("click");
      });
    </script>
    <div class="post-content">
      <!-- <div class="history-article">
        <p></p>
      </div> -->
      <p>又到了一年一度观望的季节，是不是已经储备好了，想换个地方深入深入？是不是也好久都没面试过了，来淘宝面一面，看看现在大公司前端团队都在关注些什么东西？</p>
      <h4>团队技术方向：</h4>
      <ul>
        <li>无线。团队大部分资源已经向无线转移，但是还有很多难题需要解决，期待你不同的思路！</li>
        <li>全栈。很多产品已经基于 Midway 全栈了，然而与 Java 的体系还相差甚远，期待你的改变！</li>
        <li>工程。淘宝前端的工程化不说全国第一，一定是名列前茅，期望向你分享和诉说！</li>
        <li>安全。安全是个弱项，所以与集团有很多合作，但是没有十分深入地落实到业务中，期待你的参与！</li>
        <li>架构。无线转 PC 是一个趋势，这方面的尝试业界尚没有产出，期待你的引领！</li>
        <li>搭建平台。赋能前端、赋能运营、赋能商家，搭建让效率更有保障，期待你的创新！</li>
      </ul>
      <p>业务方向就不用说了，支持淘宝所有的业务，如果你对哪个感兴趣的，可以直接提出来。</p>
      <h4>我的联系方式：</h4>
      <ul>
        <li>微信：barret_china</li>
        <li>QQ：173248656</li>
        <li>邮件：barret.china@gmail.com</li>
      </ul>
      <p>期待与你一起共事！任何疑问可以在下方留言。</p>
    </div>
    <%- partial("page_footer") %>
  </div>
</div>
<%- partial("../_partial/sidebar") %>