<div class="entry-wrapper clearfix">

	<h1 class="clearfix">
		<a href="/" tabindex="0" aria-label="回到小胡子哥首页导航"><%- config.author %></a> <font aria-hidden="true">» 翻译</font>
		<%- partial("../_partial/dropdown") %>
		<%- partial("../_partial/post/rss.ejs") %>
		<span class="entry-page-search local-search-google local-search" style="display: none;">
        <input type="text" placeholder="站内搜索" id="local-search-input">
        <i class="icon" aria-hidden="true" title="点击进入 Google 搜索">&#x2708;</i>
				<div id="local-search-result" class="local-search-result-cls"></div>
    </span>
	</h1>
	<div class="clearfix response-overflow">
		<div class="entry-recent-post" style="float:none; width: auto">
			翻译计划：<a href="https://github.com/barretlee/translation-plan">https://github.com/barretlee/translation-plan</a>
		</div>
		<div class="entry-recent-posts" style="float:none; width: auto; max-width: 100%;">
			<h2>近期译文</h2>
			<ul itemscope itemtype="http://schema.org/Article">
			<% site.posts.sort('date', 'desc').filter(function(post) {
				var _tags = {}; var tags = [];
				for(var key in post.tags.data) {
					var name = post.tags.data[key].name;
					if(!_tags[name]) {
						_tags[name] = 1;
					}
				}
				tags = Object.keys(_tags);
				return tags.indexOf('译文') > -1;
			}).each(function(post){ %>
				<li><span itemprop="timeCreated" aria-hidden="true"><%- moment(post.date).format("YYYY-MM-DD") %> » </span><a href="<%- url_for(post.path) %>" itemprop="url" itemprop="name"><%- post.title %>
					<% if(0 && post.mark) { %>
						<em tabindex="0" aria-hidden="true" class="entry-item-tag"><%- post.mark %></em>
					<% } %>
				</a><span tabindex="0" class="aria-readonly">发布时间为<%- moment(post.date).format("YYYY年MM月DD日") %></span> <span><b
								class="ds-thread-count disqus-comment-count cy_cmt_count"
								data-thread-key="<%- post.slug || post.path %>"
								data-disqus-identifier="<%- post.slug || post.path %>"
              	id="sourceId::<%- post.slug || post.path %>"
								></b></span></li>
			<% }) %>
			</ul>
		</div>
	</div>
	<%- partial("page_footer") %>
</div>
