<div class="container">
  <%- partial('_partial/search') %>
  <div class="article" itemscope itemtype="http://schema.org/Article">
    <div class="post">
      <div class="bread">
        <a href="/">小胡子哥的个人博客</a> »
        <a href="/entry/">博客</a> »
        <%- partial('post/category', {post: page}) %>
      </div>
      <div class="post-title-wrapper">
        <h1 class="post-title" itemprop="name"><%= page.title %><img src="https://game.weixin.qq.com/cgi-bin/comm/qrcode?s=10&m=1&d=http:<%- config.url %><%- url_for(page.path) %>" alt="扫码分享" onerror="this.style.display='none';"></h1>
        <a href="<%- url_for('/about/') %>"><img src="<%- url_for(theme.imgs.avatar150) %>" alt="<%- config.author %>" /></a>
      </div>
      <div class="post-info">
        <span>作者: <a href="<%- url_for('about/') %>" itemprop="author"><%- config.author %></a></span>
        <span>
          <time itemprop="timeCreated" aria-hidden="true"><%- moment(page.date).format('YYYY-MM-DD HH:mm:ss') %></time>
          <span class="aria-readonly">本文发布时间为<%- moment(page.date).format('YYYY年MM月DD日HH时mm分ss秒') %></span>
        </span>
        <span>分类: <%- partial('post/category', {post: page}) %></span>
        <span tabindex="0" aria-hidden="true">标签: <%- partial('post/tag', {post: page}) %></span>
        <span class="aria-readonly">下面是正文内容</span>
        <span tabindex="0" aria-hidden="true">评论数: <a href="#comments"
                      class="ds-thread-count hash-to-comments disqus-comment-count"
                      data-thread-key="<%- page.slug || page.path %>"
                      data-disqus-identifier="<%- page.slug || page.path %>"
                      id="changyan_count_unit"></a></span>
        <span tabindex="0" aria-hidden="true" id="busuanzi_container_site_pv">热度: <span id="busuanzi_value_page_pv"></span></span>
      </div>
      <div class="post-content" itemprop="articleBody">
        <div class="shit-spider" title="防爬虫不注明出处" tabindex="0" aria-hidden="true">
          <p>原文地址：<a href="<%- config.url %><%- url_for(page.path) %>"><%- config.url %><%- url_for(page.path) %></a>，<a href="<%- config.url %><%- url_for(page.path) %>#comments">参与评论</a></p>
          <img src="//www.barretlee.com/blogimgs/avatar.png" width="150">
        </div>
        <%- page.content %>
      </div>
    </div>
    <%- partial('post/warning') %>
    <%- partial('post/copyright') %>
    <em class="arrow-expend icon" tabindex="0" aria-hidden="true">&#xe618;
      <ul>
        <li><a href="<%- url_for("/entry/") %>">博客</a></li>
        <li><a href="<%- url_for("/message/") %>">问答</a></li>
        <li><a href="<%- url_for("/about/") %>">关于</a></li>
        <li><a href="<%- url_for("/demo/") %>">实验室</a></li>
        <li><a href="<%- url_for("/comments/") %>">最近评论</a></li>
        <li><a href="<%- url_for("/friends/") %>">友情链接</a></li>
      </ul>
    </em>
  </div>
  <div class="post-relative"><%- partial('post/nav') %></div>
</div>
<%- partial('sidebar') %>
<div class="single-page-footer">
<%- partial('_partial/footer') %>
</div>
<%- partial('post/gotop') %>
