<div class="sidebar" tabindex="0" aria-hidden="true">
	<div class="func-btns func-btns-up">
    <span class="func-item">
        <i class="func-nav icon">&#xe618;<span>目录</span></i>
        <div>
          <i class="left-arrow"></i><i class="left-arrow-clone"></i>
          <a href="javascript:void(0);" onclick="return false;">显示目录</a>
        </div>
    </span>
    <span class="func-item">
        <i class="func-font icon">&#xe604;<span>设置</span></i>
        <div class="font-choose-box">
          <i class="left-arrow"></i><i class="left-arrow-clone"></i>
          <div class="font-choose bg-choose">
            <a href="javascript:void(0)" onclick="return false;" class="bg-type bg-type-sun font-type-song"><i class="icon">&#xe61a;</i></a>
            <a href="javascript:void(0)" onclick="return false;" class="bg-type bg-type-moon font-type-hei"><i class="icon">&#xe619;</i></a>
          </div>
          <div class="font-choose">
            <a href="javascript:void(0)" onclick="return false;" class="font-type font-type-song">黑体</a>
            <a href="javascript:void(0)" onclick="return false;" class="font-type font-type-hei">宋体</a>
          </div>
        </div>
    </span>
    <span class="func-item">
        <a href="<%- theme.social.weibo %>" target="_blank"><i class="func-fb icon">博<span>分享</span></i></a>
        <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
          <p class="seperator sharecanvas"><a href="javascript: void(0);">微博分享</a></p>
          <p><a href="<%- theme.social.weibo %>" target="_blank">微博关注</a></p>
        </div>
    </span>
    <span class="func-item">
        <i class="func-about icon">&#x263b;<span>关于</span></i>
        <div>
          <i class="left-arrow"></i><i class="left-arrow-clone"></i>
          <p><a href="<%- url_for(theme.pages.about) %>" class="func-about-link" target="_blank">关于作者</a></p>
          <div id="followMeOnWeibo"></div>
        </div>
    </span>
	</div>
	<div class="func-btns">
    <span class="func-item">
        <a href="<%- url_for(theme.pages.demo) %>" target="_blank"><i class="func-rss icon">&#xe603;<span>实验</span></i></a>
        <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
          <p class="seperator"><a href="<%- url_for(theme.pages.demo) %>" target="_blank">Demo平台</a></p>
          <p class="seperator"><a href="<%- url_for(theme.pages.md) %>" target="_blank">WX格式</a></p>
          <p><a href="<%- url_for(theme.pages.snippets) %>" target="_blank">Snippet应用</a></p>
        </div>
    </span>
    <!-- <span class="func-item">
        <i class="func-fb icon">&#x2121;<span>留言</span></i>
        <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
          <p class="seperator"><a href="<%- url_for(theme.pages.message) %>" target="_blank">给我留言</a></p>
          <p><a href="<%- url_for(theme.pages.comments) %>" target="_blank">近期留言</a></p>
        </div>
    </span> -->
    <span class="func-item">
        <a href="<%- url_for(theme.pages.friends) %>" target="_blank"><i class="func-rss icon">&#xe601;<span>好友</span></i></a>
        <div><i class="left-arrow"></i><i class="left-arrow-clone"></i>
          <a href="<%- url_for(theme.pages.friends) %>" target="_blank">好友列表</a>
        </div>
    </span>
    <span class="func-item">
        <a href="<%- url_for(theme.pages.feed) %>" target="_blank"><i class="func-rss icon">&#x25c8;<span>订阅</span></i></a>
        <div><i class="left-arrow"></i><i class="left-arrow-clone"></i><a href="<%- url_for(theme.pages.feed) %>" target="_blank">订阅我吧！</a></div>
    </span>
	</div>
</div>
