<% var recentPost = site.posts.data[0];
	var rTitle = recentPost.title;
	var excerpt = recentPost.excerpt || recentPost.content.replace(/<[^>]+?>|\n/gm, '').slice(0, 48) + "...";
%>
<div class="sidebar">
	<div class="func-btns func-btns-up">
        <span class="func-item">
            <i class="func-nav icon">&#xe618;</i>
            <div>
	            <i class="left-arrow"></i><i class="left-arrow-clone"></i>
	            <a href="javascript:void(0);" onclick="return false;">显示目录</a>
            </div>
        </span>
        <span class="func-item">
            <i class="func-font icon">&#xe604;</i>
            <div class="font-choose-box">
	            <i class="left-arrow"></i><i class="left-arrow-clone"></i>
	            <div class="font-choose bg-choose">
		            <a href="javascript:void(0)" onclick="return false;" class="bg-type bg-type-sun font-type-song"><i class="icon">&#xe61a;</i></a>
		            <a href="javascript:void(0)" onclick="return false;" class="bg-type bg-type-moon font-type-hei"><i class="icon">&#xe619;</i></a>
	            </div>
	            <div class="font-choose">
		            <a href="javascript:void(0)" onclick="return false;" class="font-type font-type-song">黑体</a>
		            <a href="javascript:void(0)" onclick="return false;" class="font-type font-type-hei">宋体</a>
	            </div>
            </div>
        </span>
	</div>
	<div class="func-btns">
        <span class="func-item">
            <i class="func-about icon">&#xe61b;</i>
            <div>
	            <i class="left-arrow"></i><i class="left-arrow-clone"></i>
	            <a href="<%- url_for('about') %>" class="func-about-link">关于作者</a>
	            <div id="followMeOnWeibo"></div>
            </div>
        </span>
        <span class="func-item">
            <a href="<%- url_for("message") %>" target="_blank"><i class="func-fb icon">&#xe608;</i></a>
            <div><i class="left-arrow"></i><i class="left-arrow-clone"></i><a href="<%- url_for("message") %>">跟我对话</a></div>
        </span>
        <span class="func-item">
            <a href="<%- url_for(theme.pages.feed) %>" target="_blank"><i class="func-rss icon">&#x25c8;</i></a>
            <div><i class="left-arrow"></i><i class="left-arrow-clone"></i><a href="<%- url_for(theme.pages.feed) %>">订阅我吧！</a></div>
        </span>
	</div>
	<div class="sidebar-toggler icon">&#xe609;</div>
	<div class="sidebar-content" id="scrollCtt">
		<a href="/"><span class="page-logo"><%- config.author %></span></a>
		<!--<ul class="page-nav">
			<li><a href="#" id="page-nav-on">主页</a></li>
			<li><a href="#">分类</a></li>
			<li><a href="#">归档</a></li>
			<li><a href="#">关于</a></li>
		</ul>-->
    <span class="page-search">
      <input type="text" placeholder="搜索"/>
      <i class="icon search-btn">&#xe615;</i>
    </span>
		<div class="recent-post">
			<div class="recent-pic">
				<img src="http://img5.douban.com/img/fmadmin/chlBanner/29929.jpg" />
			</div>
			<div class="recent-info">
				<h3><a href="<%- url_for(recentPost.path) %>"><%= rTitle  %></a></h3>
				<p>
					<%= excerpt %>
					<a href="<%- url_for(recentPost.path) %>">阅读全文</a>
				</p>
				<span><%- date(recentPost.date, "YYYY-MM-DD") %> post by <a href="<%- url_for('about') %>"><%- theme.author_en %></a></span>
			</div>
		</div>
		<div class="post-catograry">
			<strong>文章类别：</strong>
		</div>
		<div class="recent-articles">
			<div class="sidebar-panel">
				<div class="sidebar-panel-ad"><a href="http://hi.barretlee.com" target="_blank">微分享 <small>Micro-share</small></a></div>
				<div class="sidebar-panel-archive"><a href="<%- url_for('archive')%>">归档</a></div>
				<div class="sidebar-panel-seminar"><a href="<%- url_for('subject')%>">专题</a></div>
			</div>
			<div class="recent-pages">
				<h3>最新文章</h3>
				<div>
					<ul class="recent-articles-list">
						<% _.each(site.posts.data, function(post) { %>
						<li><i class="icon">&#xe616;</i>
							<h4><a href="<%- url_for(post.path) %>"><%- post.title %></a></h4>
							<p><%= post.excerpt || recentPost.content.replace(/<[^>]+?>|\n/gm, '').slice(0, 17) + "..." %></p>
						</li>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
