<div class="home">
	<div class="home-color-bg"></div>
	<div class="home-box">
		<h2 title="<%- config.subtitle %>" id='indexLogo'>
			<%- config.title %>
			<a aria-hidden='true' href="<%- url_for('entry/') %>"><img src="<%- url_for(theme.imgs.avatar150) %>" alt="<%- config.author %>"></a>
		</h2>
		<h3 title="<%- config.subtitle %>" aria-hidden="true"><%- config.title_en %></h3>
		<p><font aria-hidden="true">»</font>
			<a href="<%- url_for('entry/') %>" aria-label="点击查看博客文章列表">博客</a> <font aria-hidden="true">/</font>
			<a href="https://github.com/barretlee/slides#slides" aria-label="小胡子哥的演讲" target="_blank">演讲</a> <font aria-hidden="true">/</font>
			<a href="<%- url_for('demo/') %>" aria-label="小胡子哥的实验室">实验</a> <font aria-hidden="true">/</font>
			<!-- <a href="<%- url_for('message/') %>" aria-hidden="true">留言</a> <font aria-hidden="true">/</font> -->
			<a href="<%- url_for('about/') %>" aria-label="查看小胡子哥的个人信息">关于</a>
		</p>
		<p><font aria-hidden="true">»</font>
			<i class="icon" title="Github"><a href="<%- theme.social.github %>" target="_blank" aria-label="小胡子哥的 Github 地址">&#x2603;</a></i>
			<i class="icon" title="Wechat"><a href="<%- url_for('/wechart.png') %>" target="_blank" aria-label="小胡子哥的微信二维码地址">&#xe60d;</a></i>
			<i class="icon" title="Sina Weibo"><a href="<%- theme.social.weibo %>" target="_blank" aria-label="小胡子哥的新浪微博地址">&#x535a;</a></i>
			<i class="icon" title="Rss"><a href="<%- theme.pages.feed %>" target="_blank" aria-label="小胡子哥的博客文章订阅地址">&#x25c8;</a></i>
			<i class="icon" title="Google Plus"><a href="<%- theme.social.google %>" target="_blank" aria-label="小胡子哥的 Google Plus">G+</a></i>
		</p>
	</div>
</div>
