<div class="home">
	<div class="home-color-bg"></div>
	<div class="home-box">
		<h2 title="<%- config.subtitle %>" id='indexLogo'>
			<%- config.title %>
			<a aria-hidden='true' href="<%- url_for('entry/') %>"><img src="<%- url_for(theme.imgs.avatar150) %>" alt="<%- config.author %>"></a>
		</h2>
		<h3 title="<%- config.subtitle %>" aria-hidden="true"><%- config.title_en %></h3>
		<p><font aria-hidden="true">»</font>
			<a href="<%- url_for('entry/') %>">博客</a> <font aria-hidden="true"> / </font>
			<a href="<%- url_for('message/') %>">留言</a> <font aria-hidden="true"> / </font>
			<a href="<%- url_for('about/') %>">关于</a>
			<!-- <a href="https://github.com/barretlee/slides#slides" target="_blank">演讲</a> <font aria-hidden="true">/</font> -->
			<!-- <a href="<%- url_for('translation/') %>">翻译</a> <font aria-hidden="true"> / </font> -->
			<!-- <a href="<%- url_for('/reading.html') %>" aria-hidden="true">推荐</a> <font aria-hidden="true">/</font>-->
			<!-- <a href="<%- url_for('demo/') %>">实验</a> <font aria-hidden="true"> / </font> -->
		</p>
		<p><font aria-hidden="true">»</font>
			<i class="icon" title="Twitter"><a href="<%- theme.social.twitter %>" target="_blank">&#x9e1f;</a></i>
			<i class="icon" title="Sina Weibo"><a href="<%- theme.social.weibo %>" target="_blank">&#x535a;</a></i>
			<i class="icon" title="Github"><a href="<%- theme.social.github %>" target="_blank">&#x2603;</a></i>
			<i class="icon" title="Wechat"><a href="<%- url_for('/blogimgs/follow.jpg') %>" target="_blank">&#xe60d;</a></i>
			<i class="icon" title="Rss"><a href="<%- theme.pages.feed %>" target="_blank">&#x25c8;</a></i>
		</p>
	</div>
	<%- partial('_partial/search', {wrapStyle: '', inputStyle: ''}) %>
</div>

<!-- <p style="position: absolute;font-size: 12px;bottom: 2px;color: #CCC;left: 2px;opacity: 0.4;
-webkit-user-select:none;">Hosted by <a href="https://pages.coding.me" style="font-weight: bold" target="_blank" ref="external">Coding Pages</a></p> -->
<a href="https://www.miit.gov.cn/" target="_blank" style="position: absolute;bottom: 8px;right: 12px;font-size: 12px;color: #FFF;opacity: 0.6;">湘ICP备14007107号-1</a>

