<div class="follow-wechat"><img src="/follow.jpg"></div>

<div class="copyright" itemscope itemtype="http://schema.org/ProfilePage" tabindex="0" aria-hidden="true">
	<!-- <a href="/about/#support" class="supportme">赏</a> -->
	<ul>
		<li>作者:  <a href="<%- url_for('about/') %>" itemprop="name"><%- theme.author %> (<%- theme.author_en %>)</a></li>
		<li>发表日期:  <%- moment(page.date).format('YYYY-MM-DD HH:mm:ss') %></li>
		<li>文章分类: <%- partial('category', {post: page}) %></li>
		<li>文章标签: <%- partial('tag', {post: page}) %></li>
		<li>版权声明: 署名-非商业性使用-禁止演绎 3.0 国际（<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh" target="_blank">CC BY-NC-ND 3.0</a>）</li>
		<li>最后编辑时间: <%- moment(page.updated).format('YYYY-MM-DD HH:mm:ss') %></li>
		<li>Feed订阅: <a href="<%- theme.pages.feed %>"><i class="icon">&#x25c8;</i></a></li>
	</ul>
	<a href="<%- url_for('about/') %>"><img src="<%- theme.imgs.avatar150 %>" /></a>
</div>
