<%var key, title, url = config.url;
	if(typeof page !== null) {
		key = page.slug || page.path;
		title = page.title;
		url += url_for(page.path);
	} else if(typeof post !== null) {
		key = post.slug || post.path;
		title = post.title;
		url += url_for(post.path);
	} else {
		key = "barretlee-blog";
		title = config.title;
	}
%>

<% if(theme.disqus) { %>
<script>
	window.disqus_identifier = "<%- key %>";
	window.disqus_title = "<%- title %>";
	window.disqus_url = "<%- url %>";
</script>
<div id="disqus_thread" tabindex="0" aria-hidden="true" data-disqus-name="<%- theme.disqus %>" aria-hidden="true">
	<div class="ds-loading">
		<img src="<%- theme.imgs.loading %>" alt="loading..."/>
		<p>这网速真是弱爆了...客官稍等,评论还在加载~</p>
	</div>
</div>
<% } else { %>
<% if(theme.duoshuo) { %>
<div class="ds-thread" tabindex="0" aria-hidden="true" data-thread-key="<%- key %>" data-title="<%- title %>" data-url="<%- url %>" data-name="<%- theme.duoshuo %>">
	<div class="ds-loading">
		<img src="<%- theme.imgs.loading %>" alt="loading..."/>
		<p>这网速真是弱爆了...客官稍等,评论还在加载~</p>
	</div>
</div>
<% } %>
<% } %>


