<div class="relative-wrapper">
	<div class="relative-article">
		<% var name = (typeof post !== 'undefined') && post.categories.data;
			if(name && name[0] && name[0].name) {
		%>
		<ul><% name = name[0].name; var limit = 5, count = 0;
			site.posts.sort('date', 'desc').each(function(p){
				var cates = {};
				for(var key in p.categories.data) {
					var n = p.categories.data[key].name;
					if(!cates[n]) cates[n] = 1;
				}
			  if(!(name in cates)) return;
				if(post.permalink === p.permalink) return;
				if(++count >= limit) return;
				var excerpt = p.excerpt.replace(/<[^>]+?>|\n/gm, '') || p.content.replace(/<[^>]+?>|\n/gm, '').slice(0, 50) + "...";
				var m = p.content.match(/<img src="[^"]+?" data-original="([^"]+?)"/);
				if (!m) {
					m = p.content.match(/<img src="([^"]+?)"/);
				}
    		var img = m && m.length == 2 ? m[1] : '';
			%>
			<li>
				<span><font aria-hidden="true"><%- moment(p.date).format("YYYY-MM-DD")%> »</font> </span>
				<a href="<%- url_for(p.path) %>"><%- p.title %></a>
				<span class="aria-readonly">发表时间为<%- moment(p.date).format("YYYY年MM月DD日")%></span>
				<div class="relative-box">
          <% if(img) {%><a href="<%- url_for(p.path) %>" class="relative-img-wrapper"><img src="//img.alicdn.com/tfs/TB1oyqGa_tYBeNjy1XdXXXXyVXa-300-300.png" style="width:100%" data-original="<%- img %>"/></a><% } %>
          <span class="aria-readonly">文章概要 </span><%- excerpt %>
        </div>
			</li>
			<% })
			} %>
		</ul>
	</div>
</div>
